.error
{
  color: red;
  margin-left: 25px;
  margin-top : 5px;
}
#success-message
{
  color: green;
  margin-left: 25px;
  margin-top : 5px;
}

#error-message
{
  color: red;
  margin-left: 25px;
  margin-top : 5px;
}
.danger{
    font-size: x-large;
    color: red;
    background-color: bisque;
    padding: 10px 18px 10px 18px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.form-grp-footer-custom {
    position: relative;
    max-width: 605.491px;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    background: #fff;
    border-radius: 50px;
}
.mlr-3
{
    margin-right: 3px;
    margin-left: 3px;
}
.m-l-3
{
    margin-left: 5px;
}
pre
{
  color: #6F6F6F;
  font-family: Montserrat !important;
  font-size: 20px !important;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -1.2px;
}
.img-icon-w-32
{
  height: 32px;
  width: 32px;
}
.img-menu-icon-w-32
{
  margin-right: 10px;
  height: 26px;
  width: 26px;
}
.custom-desc ul
{
  list-style-type: unset !important;
  margin-left: 50px;
}