
.ajax-loader {
  display: block;
position: absolute;
top: 0;
left: 0;
z-index: 1051;
width: 100vw;
height: 100vh;
background-color: rgba(192, 192, 192, 0.5);
background-image: url('../images/loader.gif');
background-repeat: no-repeat;
background-position: center;}
/* visibility: hidden; */
/* display: none; */
/* background-color: rgba(255,255,255,0.7);
position: absolute;
z-index: 1051 !important;
width: 100%;
height:100%; */
/* } */


.ajax-loader img {
position: relative;
top:50%;
left:50%;
}

.unread-noti 
{    
  background-color: #f3f5fb;
}

.card-body-notification
{
  padding: 0.5rem;
}
.product-img
{
    height: 245px !important;
}
.add-cart-button
{
  /*padding: 0.30rem 0.7rem;*/
  padding: 5px;
  font-size: 0.8rem;
}
.view-cart-button
{
  /*padding: 0.30rem 0.7rem;*/
  padding: 5px;
  
  font-size: 0.8rem;
}
.fw-bold {
    font-weight: 700!important;
}
.order-status
{
  width: 50%;
}
.dropdown-item-volume
{  
    display: block;
    width: 100%;
    padding: 0.375rem 1.5rem;
    clear: both;
    font-weight: 500;
    font-size: 18px;
    color: white;
    text-align: center;
    white-space: nowrap;
    background-color: transparent;
    border: 0
}
.filter-product-category
{
    width: 181px;
/*    text-align: center;*/
}

